
//navigation
.nav {
    border: $border-test-primary;
    padding: $padding-test;
    text-align: center;
    margin-bottom: 20px;
}

//Searchbox 
.searchbox {
    //test css for now
    border: $border-test-secondary;
    padding: $padding-test;
    text-align: center;
    margin-bottom: 20px;
}
