.u {
    //TODO: Borders
    &--border-primary {
        border: $border-test-primary;
    }
    &--border-two {
        border: $border-test-two;
    }
    &--border-button {
        border: $border-button;
    }
    &--border-button-active {
        border: $border-button-active;
    } //
    //TODO: Padding
    //
    &--p-small {
        padding: 4px;
    }
    &--p-med {
        padding: 8px;
    }
    &--p-large {
        padding: 12px;
    } //pading
    &--m-auto {
        margin: 0 auto;
    } //TODO: COlors
    &-color-portal-dark {
        color: $color-portal-dark;
    }
}