

//font
$default-font-size:1.6rem; 


//border test validites


$border-test-primary: 3px solid #ffd1c3;

//primary colors
$color-primary-default:#37FF8B;
$color-secondary-default:#6369D1;
$color-background-default:#091515;