
//Import scss components

//variables and utility
@import "./sass/variables/variables.scss";
//Layout
@import "./sass/layout/home.scss";
//typography
@import "./sass/typography/typography.scss";

//components
@import "./sass/components/card.scss";



//Initial reset
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  //test
.main
{
    background-color:black;
}
