
//Import scss components

//variables and utility
@import "./sass/variables.scss";
//Layout
@import "./sass/home.scss";
//typography
@import "./sass/typography.scss";

//components
@import "./sass/card.scss";

//Initial reset
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

//test
.main {
    background-color: black;
}
