//*  Import scss components
//variables and utility
@import "./sass/variables.scss";
@import "./sass/utilities.scss";
@import "./sass/mixins.scss";
@import "./sass/typography.scss";
// @import "./sass/card.scss";
// @import "./sass/home.scss";
// * Import Font Face
@font-face {
    font-family: RickAndMorty;
    src: url("./fonts/MISFITS_.TTF");
}

body {}

//test
.main {
    background-color: black;
    font-size: 5rem;
}

//navigation
.nav h1 {
    font-family: RickAndMorty, sans-serif;
    letter-spacing: 0.1rem;
    color: $color-portal-dark;
    padding: $padding-test;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 2rem;
    transform: rotate(-2deg);
}

//TODO: Searchbox
.searchbox {
    //test css for now
    padding: $padding-test;
    text-align: center;
    margin: 4rem 0;
    & input {
        //the searchbox itself 
        padding: 1.4rem 2rem;
        width: 55%;
        text-align: center;
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
        outline: none;
        &:focus {
            border: 0.1rem solid $color-portal-light;
        }
    }
    &__under {
        font-size: 2.4rem;
        text-decoration: none;
        & a {
            text-decoration: none;
            color: $color-primary;
            transition: all 0.4s ease;
            &:hover {
                color: $color-portal-light;
            }
        }
    }
}

//pagination
.pagination {
    max-height: 200px;
    padding: 0.8rem 0.4rem; //padding
    font-size: 1.6rem;
    width: 60%; //border:$border-test-two;
    margin: 0 auto; //center
    display: flex;
    flex-direction: row;
    justify-content: space-around; //pagination__left and pagination__right are arrows
    @include respond(tablet) {
        width: 85%;
    }
    &__left {
        //border: $border-test-two;
    }
    &__right {
        //border: $border-test-primary;
    }
    &__left,
    &__right {
        //clickable and add padding
        padding: 0.8rem 1.2rem;
        border: $border-button;
        font-size: 3.6rem;
        transition: 0.4s all ease; //!- Change font size at phone width
        @include respond(phone) {
            font-size: 2.5rem;
        }
        &:hover {
            cursor: pointer;
            border: $border-button-active;
            transition: 0.4s all ease;
        }
        &:active {
            //click animation
            transform: translateY(2px);
            color: $color-portal-dark;
        }
    }
}

//
// TODO: CARDLIST and Cards
//
.cardlist {
    min-height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    margin: 8rem 0;
}

//
//TODO: CARD
//
.card {
    position: relative; //position relative to make overlay
    flex: 1 0 24%;
    max-width: 24%;
    border: $border-button;
    margin-bottom: 1rem;
    box-shadow: 0.4rem 0.7rem 1.0rem rgba(#000, .4); //TODO: card__img
    //* card flex width
    @include respond(tablet) {
        //*Switch to 2 column layout
        flex: 1 0 47.5%;
        max-width: 47.5%;
    }
    @include respond(phone) {
        flex: 1 0 48%;
        max-width: 48%;
    }
    &__img {
        width: 100%;
        height: 300px; //!- Responsive for large desktop, increase image size
        @include respond(desktop-large) {
            height: 350px;
        }
        @include respond(phone) {
            height: 225px;
        }
        &--container {
            position: relative;
        }
    } //TODO: card__name
    &__name {
        color: $color-portal-dark;
        letter-spacing: 0.1rem;
        font-size: 2.6rem;
        text-align: center;
        margin: 0;
        padding: 1.2rem 0;
        background-color: rgba(#000, .6);
        position: absolute;
        top: 45%;
        width: 100%;
        @include respond(tablet) {
            font-size: 2rem;
            padding: 1.4rem 0;
            top: 0; //move to top
        }
        @include respond(desktop-large) {
            top: 50%;
        }
        @include respond(desktop) {
            top: 51%;
        }
    } //TODO: card__list
    &__list {
        &--container {
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
        } //TODO: card__list--item
        &--item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0.3rem 1rem;
            font-size: 1.6rem;
            letter-spacing: 0.05rem;
            border-bottom: 2px solid $color-portal-dark;
            &:last-child {
                border-bottom: none;
            } //TODO: card__list--item-key 
            //TODO: card__list--item-value 
            &--key {}
            &--value {
                color: $color-primary;
            }
        }
    }
}

//TODO: Footer
.footer {
    background-color: $color-footer-primary;
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: center;
    height: 200px;
    position: absolute; //bottom: 0;
    width: 100%;
    text-align: center; //container for icons
    &__icon {
        list-style: none;
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
        display: flex;
        height: 125px;
        @include respond(tablet)
        {
            width:100%;

        }
        @include respond(phone)
        {
            padding:0;
justify-content:space-around;
            flex-wrap:wrap; //wrap
        }
    }
    &__container {
        //for individual icons
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 0 23.5%;
        max-width:23.5%;
        &:not(&:last-child)
        {
            margin-right:1%;
        }
        @include respond(tablet)
        {
            flex: 1 0 23%;
            max-width:23%;
        }
   @include respond(phone)
   {
       flex: 1 0 40%;
       max-width:40%;
   }
        
    }
    &--icon {
        //individual icon links
        font-size: 2rem;
        padding: 1.6rem 2.4rem;
        background-color: $color-footer-secondary;
        color: $color-portal-dark;
        transition: all 0.4s ease;
        &:hover {
            color: $color-portal-light;
        }
        &:active {
            transform: translateY(5px);
        }
    } //link for james chhun website
    &__portfolio {
        text-decoration: none;
        color: $color-portal-dark;
        padding: 0.2rem 0.4rem;
        font-size: 1.7rem;
        transition: all 0.4s ease;
        &:hover {
            color: $color-portal-light;
            transform: scale(1.05);
        }
        &:active {
            transform: translateY(5px);
        }
    }
}

.copyright {
    font-style: italic;
    letter-spacing: 0.1rem;
    color: #ddd;
    font-size: 1.6rem;
}